.bg-image {
    background-image: url('../Assets/dodge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 36rem; 
}

.header{
    font-size: 14px;
    font-weight: 400;
    /* color: #FFFFFF !important; */
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #ffffff !important;
    --bs-nav-link-hover-color: #ffffff;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.home{
    margin-top: 6rem;
}

.roundedButton{
    border-radius: 50%;
}


.aiPortBtn{
    background-color: #FCC954;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: small !important;
    font-weight: 500 !important;
    border-radius: 4px;
}

.loginBtn{
    background-color: #FCC954;
    font-size: small;
    font-weight: 500;
}

.SignupBtn{
    background-color: #4646A3;
    font-size: small;
    font-weight: 500;
}
.loginBtn:hover{
    background-color: #fbbd2d;
}

.SignupBtn:hover{
    background-color: #3434a5;
}

.freeTrading{
    background-color: #EFEFEF;
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .aiPortBtn{
        background-color: #FCC954;
        padding-bottom: 1px;
        margin-top: 1 rem;
    }

}


/* Trading View */

.carouselImage{
    width: 30rem;
    height: 20rem;
}

/* slider */


.slider .imgs {
    /* overflow: hidden; */
  }
  
  .slider .img {
    height: 75%;
    width: 40%;
    position: absolute;
    animation duration can't be greater than variable interval in JS! */
    /* check JS for other settings */
    /* animation: .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
    animation-fill-mode: forwards;
    background-size: cover !important;
    background-position: 50% !important;
  }